### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
school_data_complete

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12,Thomas High School,51,48,14,Independent,1635,1043130
39166,39166,Dawn Bell,F,10,Thomas High School,81,89,14,Independent,1635,1043130
39167,39167,Rebecca Tanner,F,9,Thomas High School,99,99,14,Independent,1635,1043130
39168,39168,Desiree Kidd,F,10,Thomas High School,72,77,14,Independent,1635,1043130
39169,39169,Carolyn Jackson,F,11,Thomas High School,47,62,14,Independent,1635,1043130

In [3]:
school_data

    School ID            school_name         type  size   budget
0           0      Huang High School   Government  2917  1910635
1           1   Figueroa High School   Government  2949  1884411
2           2    Shelton High School  Independent  1761  1056600
3           3  Hernandez High School   Government  4635  3022020
4           4    Griffin High School  Independent  1468   917500
5           5     Wilson High School  Independent  2283  1319574
6           6    Cabrera High School  Independent  1858  1081356
7           7     Bailey High School   Government  4976  3124928
8           8     Holden High School  Independent   427   248087
9           9       Pena High School  Independent   962   585858
10         10     Wright High School  Independent  1800  1049400
11         11  Rodriguez High School   Government  3999  2547363
12         12    Johnson High School   Government  4761  3094650
13         13       Ford High School   Government  2739  1763916
14         14     Thomas High School  Independent  1635  1043130

In [4]:
student_data

,Student ID,student_name,gender,year,school_name,reading_score,maths_score
0,0,Paul Bradley,M,9,Huang High School,96,94
1,1,Victor Smith,M,12,Huang High School,90,43
2,2,Kevin Rodriguez,M,12,Huang High School,41,76
3,3,Richard Scott,M,12,Huang High School,89,86
4,4,Bonnie Ray,F,9,Huang High School,87,69
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12,Thomas High School,51,48
39166,39166,Dawn Bell,F,10,Thomas High School,81,89
39167,39167,Rebecca Tanner,F,9,Thomas High School,99,99
39168,39168,Desiree Kidd,F,10,Thomas High School,72,77
39169,39169,Carolyn Jackson,F,11,Thomas High School,47,62

In [5]:
# Total number of school 
Total_number_school = [len(school_data_complete["school_name"].unique())]
Total_number_school

[15]

In [6]:
# Total number of student 
Total_number_student = school_data_complete["Student ID"].count()
Total_number_student

39170

In [7]:
# Total Budget
Total_Budget = school_data["budget"].sum()
# Total_Budget = Total_Budget.map("${:,.2f}".format)
Total_Budget

24649428

In [8]:
# Average of maths score 
average_math_score = student_data["maths_score"].mean()
average_math_score

70.33819249425581

In [9]:
# Average of reading score
average_reading_score = student_data["reading_score"].mean()
average_reading_score

69.98013786060761

In [10]:
# Calculating percentage of student who pass maths 
maths_passing_percentage = len(student_data.loc[student_data["maths_score"] >= 50])
maths_passing_percentage = maths_passing_percentage/Total_number_student*100
maths_passing_percentage

86.07863160582077

In [11]:
# Calculating percentage of student who pass reading score 
reading_passing_percentage = len(student_data.loc[school_data_complete["reading_score"] >= 50])
reading_passing_percentage = reading_passing_percentage/Total_number_student*100
reading_passing_percentage

84.42685728874139

In [12]:
# Calculating percentage of student who pass reading score 
overall_passing_percentage = len(student_data.loc[(student_data["reading_score"] >=50)& (student_data["maths_score"] >=50)])
overall_passing_percentage = overall_passing_percentage/Total_number_student*100
overall_passing_percentage

72.80827163645647

In [13]:
lg_area_summary = {"Total Schools" : Total_number_school , "Total Students" :Total_number_student , 
           "Total Budget": Total_Budget, "Average Maths Score":average_math_score , 
           "Average Reading Score" :average_reading_score , "% Passing Maths":maths_passing_percentage , 
           "% Passing Reading":reading_passing_percentage , "% Overall Passing" :overall_passing_percentage}
lg_area_summary = pd.DataFrame(lg_area_summary)
lg_area_summary

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,39170,24649428,70.338192,69.980138,86.078632,84.426857,72.808272

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [14]:
school_data_complete

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12,Thomas High School,51,48,14,Independent,1635,1043130
39166,39166,Dawn Bell,F,10,Thomas High School,81,89,14,Independent,1635,1043130
39167,39167,Rebecca Tanner,F,9,Thomas High School,99,99,14,Independent,1635,1043130
39168,39168,Desiree Kidd,F,10,Thomas High School,72,77,14,Independent,1635,1043130
39169,39169,Carolyn Jackson,F,11,Thomas High School,47,62,14,Independent,1635,1043130

In [15]:
# unique school name 
school_name = school_data_complete["school_name"].unique()
school_name

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [16]:
# School Types  
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School         Government
Figueroa High School      Government
Shelton High School      Independent
Hernandez High School     Government
Griffin High School      Independent
Wilson High School       Independent
Cabrera High School      Independent
Bailey High School        Government
Holden High School       Independent
Pena High School         Independent
Wright High School       Independent
Rodriguez High School     Government
Johnson High School       Government
Ford High School          Government
Thomas High School       Independent
Name: type, dtype: object

In [17]:
# Total students per school 
total_students =  school_data_complete["school_name"].value_counts()
total_students

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [19]:
#  total budget per school  
school_budget = school_data_complete.groupby(["school_name"])["budget"].mean()
school_capital = school_budget / total_students
school_capital

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [23]:
# Average maths score for each school 
school_maths_score = school_data_complete.groupby(["school_name"])["maths_score"].mean()
school_reading_score = school_data_complete.groupby(["school_name"])["reading_score"].mean()
school_maths_score

school_name
Bailey High School       72.352894
Cabrera High School      71.657158
Figueroa High School     68.698542
Ford High School         69.091274
Griffin High School      71.788147
Hernandez High School    68.874865
Holden High School       72.583138
Huang High School        68.935207
Johnson High School      68.843100
Pena High School         72.088358
Rodriguez High School    72.047762
Shelton High School      72.034072
Thomas High School       69.581651
Wilson High School       69.170828
Wright High School       72.047222
Name: maths_score, dtype: float64

In [24]:
# Average reading score for each school
school_reading_score = school_data_complete.groupby(["school_name"])["reading_score"].mean()
school_reading_score

school_name
Bailey High School       71.008842
Cabrera High School      71.359526
Figueroa High School     69.077993
Ford High School         69.572472
Griffin High School      71.245232
Hernandez High School    69.186408
Holden High School       71.660422
Huang High School        68.910525
Johnson High School      69.039277
Pena High School         71.613306
Rodriguez High School    70.935984
Shelton High School      70.257808
Thomas High School       69.768807
Wilson High School       68.876916
Wright High School       70.969444
Name: reading_score, dtype: float64

In [32]:
# percentage of passing maths for each school 
passing_maths = school_data_complete.loc[school_data_complete["maths_score"]>= 50] 
passing_maths = school_data_complete.groupby(["school_name"])["maths_score"]
passing_maths = passing_maths/total_students
passing_maths

C:\Users\Barsh\anaconda3\lib\site-packages\pandas\core\roperator.py:25: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return right / left

ValueError: operands could not be broadcast together with shapes (15,2) (15,)

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Year

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type